*~
*.swp

.config/mpd/database
.config/mpd/log
.config/mpd/sticker.sql
.config/mpd/playlists
.config/mpd/state
.config/mpd/pid

.ncmpcpp/error.log

.zsh/private.zsh

.config/qutebrowser/bookmarks
.config/qutebrowser/qsettings

.config/aerc/accounts.conf
.config/aerc/signatures
.config/aerc/filters

.config/gtk-3.0/bookmarks

.doom.d/private.el

private
