[user]
	name = endoffile78
	email = endoffile78@users.noreply.github.com
[alias]
	st = status
	br = branch
	ls = ls-files
	ch = checkout
[push]
	default = simple
[core]
	editor = emacsclient -nc -a ""
[gui]
	editor = emacsclient -nc -a ""
