[user]
	name = endoffile78
	email = endoffile78@yahoo.com
	signingkey = 9043061421EF90FA
[alias]
	st = status
	br = branch
	ls = ls-files
	ch = checkout
[color]
	diff = auto
	status = auto
	branch = auto
[push]
	default = simple
[core]
	editor = emacsclient -nc -a ""
[gui]
	editor = emacsclient -nc -a ""
