[user]
	name = endoffile78
	email = endoffile78@yahoo.com
	signingkey = 1CFE61B9BD92B60B
[alias]
	st = status
	br = branch
	ls = ls-files
	ch = checkout
	g = log --all --color --graph --pretty=format:'%C(auto)%h%C(auto)%d%C(reset) %C(dim green)(%cr)%C(reset) -- %C(white)%s'
	graph = log --all --color --graph --pretty=format:'%C(auto)%h%C(auto)%d%C(reset) %C(green)(%cr)%C(reset)%n  %C(white)%s %C(bold black)--%an%C(reset) %C(red)%G?%C(reset)%w(0,6,6)%+b'
[color]
	diff = auto
	status = auto
	branch = auto
[push]
	default = simple
[core]
	editor = nvim
	excludesfile = /home/endoffile/.gitignore_global
[gui]
	editor = nvim
