#include ".Xresources.d/custom"

URxvt*depth: 32
URxvt*intensityStyles: True
URxvt*scrollBar: False
URxvt*scrollTtyKeypress: true
URxvt*.perl-ext-common: default,matcher
URxvt*.url-launcher: /usr/bin/firefox
URxvt*.matcher.button: 1
URxvt*.cursorBlink: true
URxvt.font: xft:Monospace:size=12
