#folders
elpa
straight
tramp
.python-environments
abbrev_defs
transient
anaconda-mode
multisession
tutorial
tree-sitter/*
!tree-sitter/.gitkeep

.local

etc/cache
etc/private

#files
eshell/history
eshell/lastdir

vendor/*
!vendor/.gitkeep

*.elc
*~
*.swp
*.dat

mu4e-config.el
projectile-bookmarks.eld
network-security.data
forge-database.sqlite

projects
